<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--数据库方言-->
            <property name="helperDialect" value="mysql"/>
            <!--合理化分页-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>
